html, body {height: 100%;padding: 0;margin: 0;
    font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;}
.glyphicon-plus,.glyphicon-minus,.glyphicon-user {color: #00bcd4;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {color: #555;
    cursor: default;background-color: #00bcd4;border: 1px solid #00bcd4;
    border-bottom-color: transparent;}
.nav-tabs>li>a { /*background-color: #00bcd4;*/border: 1px solid #00bcd4;
    border-bottom-color: transparent;}

#content,.fullsrc {height: 100%;}
.nav .nav-tabs {background: blue;}
#tb {width: 666px;border-collapse: collapse;border: 1px solid #EEE;font-size: 14px;}
#tb th {background: #EEE;border-bottom: 1px solid #CCC;padding: 4px;}
#tb td {border: 1px solid #EEE;padding: 4px;}